<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22858651573-hpkrtu8i3hn0cku3glv63s59nhpk90cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22858651573-hpkrtu8i3hn0cku3glv63s59nhpk90cm</string>
	<key>API_KEY</key>
	<string>AIzaSyDNKoEPri7bvYEmBPR_p4QSBqNY8FqLE1o</string>
	<key>GCM_SENDER_ID</key>
	<string>22858651573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MJ98.DeadLine</string>
	<key>PROJECT_ID</key>
	<string>deadline-9e633</string>
	<key>STORAGE_BUCKET</key>
	<string>deadline-9e633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22858651573:ios:c607d82dd5407142e8abfc</string>
	<key>DATABASE_URL</key>
	<string>https://deadline-9e633.firebaseio.com</string>
</dict>
</plist>